* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensada', Arial;
}
body{
	background-color: #D9DBD5;
}
.barra{
	width: 100%;
	height: 50px;
	background-color: #54B1E0;
}
.barra img{
	width: 45px;
	height: 45px;
	position: relative;
	top: 2px;
	left: 7px;
}
.barra a{
	text-decoration: none;
	color:black;
	position: relative;
	top:-10px;
	left: 30px;
	font-size: 30px;

}
.cuerpo h1{
	position: relative;
	top: 50px;
	text-align: center;
	font-size: 40px;
}
.contenedor{
	background-color: #71B2D0;
	position: relative;
	top:200px;
	left: 30%;
	width: 40%;
	height: 300px;
	box-shadow: 0 0 10px black;
	border-radius: 15px;
	float: left;
}
.contenedor img{
	position: relative;
	float: left;
	left: 42%;
	top:20px;
	width: 80px;
	-webkit-filter: invert(10%);
}
.contenedor input[type="text"], .contenedor input[type="password"]{
	position: relative;
	padding-left:5px;
	top:100px;
	width: 60%;
	height: 30px;
	left: 5%;
	margin-top: 10px;
	border:none;
	border-radius: 10px;
}
.contenedor input[type="submit"]{
	position: relative;
	top:150px;
	left: -190px;
	width: 18%;
	height: 40px;
	border : none;
	border-radius: 10px;
	background-color: #1A92DC;
}
.contenedor p{
	position: relative;
	top: 185px;
	left: 20px;
}
.contenedor a{
	text-decoration: none;

}
.pincorrecto {
	background-color: red;
	position: absolute;
	display:none;
	left: 63%;
	top: 68%;
	width: 7%;
	height: 35px;

}
.mal{

	background-color:#D91E18;
}
.registro{
	background-color:orange;
	position: relative;
	left: 37%;
	top: 50px;
	width: 25%;
	height:470px;
	float: left;
}
.registro input{
	position: relative;
	left: 20%;
	top: 25px;
	width:55%;
	padding: 12px;
	border:none;
	border-radius: 5px;
	margin-bottom: 15px;
}
.registro input[type="submit"]{
	position: relative;
	top:30px;
	width: 63%;

}
.fecha  input[type="number"]{
	width: 13%;
	height: 10px;
}
.rb {
	position: relative;
	height: 50px;
	background-color: white;
}
.rb p{
	text-align: center;
	font-size: 25px;
	position: relative;
	top:15px;
}