* {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
}
body{
	background-color: #eeeeee;
}

.back img{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(1px);
}
.fondor img{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#barran{
	background-color: #f24141;
	position: absolute;
	border-radius: 18px;
	border:1px solid #aa0505;
	opacity: .85;
	z-index: 1;
	top:-100%;
	left: 28%;
	width: 42%;
	height: 60px;
	transition: .8s ease-in-out;
}
#barran h3{
	position: absolute;
	top:15px;
	left:21%;
	color:#f7e6e6;
	
}
#barran_r{
	background-color: #5274b7;
	position: absolute;
	border-radius: 18px;
	border:1px solid 3b5998;
	opacity: .85;
	z-index: 1;
	top:-100%;
	left: 28%;
	width: 42%;
	height: 60px;
	transition: .8s ease-in-out;
}
#barran_r h3{
	position: absolute;
	top:15px;
	left:23%;
	color:white;
	
}
.titulo{
	position: relative; 
	top:230px ;
	width: 100%;
	height: 80px;
	left: 1px;
	opacity: 1;
	transition: .5s ease-in-out;
}
.titulo h1{
	position: absolute;
	color:white;
	left:41.5%;
	font-size: 80px;
	transition: .8s ease-in-out;
}
.titulo h2{
	position: absolute;
	color:black;
	left: 51%;
	font-size: 85px;
	transition: .8s ease-in-out;
}
.contenedor{
	position: relative;
	visibility: hidden;
	top:20px;
	left: 55%;
	width: 40%;
	height: 300px;
	opacity: 0;
	transition: 1s all;
}


.contenedor input[type="text"], .contenedor input[type="password"]{
	position: relative;
	color: 383535;
	background:rgba(255,255,255,.3);
	padding:10px;
	top:105px;
	width: 60%;
	height: 30px;
	left: 5%;
	margin-top: 10px;
	border-radius: 5px;
	border: none;
	border-bottom:1px solid white;
	outline: none;
}

.contenedor input[type="submit"]{
	position: relative;
	outline: none;
	top:135px;
	left: 30px;
	width: 64%;
	height: 40px;
	border : none;
	border-radius: 10px;
	background-color: #ce9A31;
}
.contenedor p{
	position: relative;
	top: 185px;
	left: 35px;
}
.contenedor a{
	text-decoration: none;
}
.pincorrecto {
	background-color: red;
	position: absolute;
	display:none;
	left: 63%;
	top: 68%;
	width: 7%;
	height: 35px;

}
.mal{
	background-color:#ED6868;
	color: white;
}
.bien {
	background-color: #42AD2C;
	color: white;
}
.registro{
	background-color:transparent;
	position: relative;
	left: 65%;
	top: 50px;
	width: 25%;
	height:560px;
	float: left;
	border-radius: 10px;
	box-shadow: 1px 1px 25px  black;

}
.registro input{
	position: relative;
	outline: none;
	left: 08.8%;
	top: 30px;
	width:75%;
	padding: 12px;
	border:none;
	border-radius: 7px;
	margin-bottom: 17px;
}
.registro input[type="submit"]{
	position: relative;
	top:60px;
	left: 19%;
	width: 63%;
	background-color: #002D60;

}
.fecha  input[type="number"]{
	position: relative;
	width: 19.5%;
	height: 10px;
}
.rb {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	position: relative;
	height: 50px;
	background-color: #2073A9;
}
.rb p{
	text-align: center;
	font-size: 25px;
	position: relative;
	top:15px;
	color: black;
}
.rlog p{
	position: relative;
	top:80px;
	left: 10px;
}
#mensajes{
	width: 35%;
	height: 250px;
	margin-right: 30px;
	background-color: #0069AA;
	border-radius: 20px;
	position: absolute;
	z-index: 1;
	left: 31.5%;
	top: 180px;
	visibility: hidden;
	opacity: 0;
	box-shadow: 1px 1px 15px;
	transition: .9s ease-in-out;
}
#mensajes h1{
	color:white;
	text-align: center;
	position: relative;
	top:35%;
	font-size: 40px;
}
.fondo{
	width: 100%;
	height: 662px;
	background-color: black;
	position: absolute;
	opacity: .4;

}
#fondo2{
	width: 100%;
	height: 662px;
	background-color: black;
	position: absolute;
	opacity: .6;
	visibility: visible;
}
#fondo2 img{
	width: 20px;
	height: 20px;
	position:absolute;
	left: 97%;
	top:18px;
	z-index: 3;
}
.ba_principal{
	background-color: #4285F4;
	position: relative;
	z-index: -1;
	width: 100%;
	height:50px;
}
#b_nombre{
	width: 92px;
	left: 92%;
	position: relative;
	height: 34px;
	background-color: black;
	opacity: .3;
	z-index: -1;
	border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;
}
#b_nombre h5{
	color: white;
	position: relative;
	text-align: center;
	top:6px;
	z-index: 2;
}
#archivo{
	position: absolute;
	background-color: #4285F4;
	width: 15%;
	height: 50px;
	z-index: -1;
	border: 1px solid black;
}
.cuerpo_editor h1{
	position: absolute;
	color: #606060;
	top: 270px;
	left: 38%;
}
.b_mas{
	position: absolute;
	left: 92%;
	top:570px;
	width: 65px;
	height: 65px;
	border:none;
	background-color: #cc5047;
	border-radius: 100%;
	z-index: -1;
	outline: none;

}
.b_mas img{
	width: 40px;
	height: 40px;
	position: relative;
	top: 3px;
	left: 1px;
	filter: invert(100%);
}
.b_mas:hover{
	opacity: .9;
}
#informacion{
	z-index: -1;
	position: absolute;
	width: 18%;
	top: 5.5%;
	height: 240px;
	border-radius: 5px;
	background-color:white;
	border: 1px solid  #606060;
	left: 78%;

}
.icono img{
	position: relative;
	height: 90px;
	width: 90px;
	border-radius: 100%;
	left: 31%;
	top: 13px;
}
#sub_nombre{
	position: relative;
	top: 30px;
	width: 100%;
	height: 60px;
	background-color: white;

}
#sub_nombre h4{
	text-align: center;
	font-size: 15px;
	color: #606060;
}
#cerrar{
	position: relative;
	background-color: white;
	top: 41px;
	border-top: 1px solid #98A8AA;
	width: 100%;
	height: 40px;
	cursor: pointer;
}
#cerrar img{
	float: left;
	position: relative;
	height: 22px;
	width: 25px;
	top: 13px;
	left: 2%;
}
#cerrar h4{
	position: relative;
	top: 15px;
	left: 5%;
}
.b_herramientas{
	position: absolute;
	left: 90%;
	top:580px;
	width: 45px;
	height: 45px;
	border:none;
	background-color: blue;
	border-radius: 10%;
	z-index: -1;
	outline: none;

}
.b_herramientas img{
	width: 40px;
	height: 40px;
	position: relative;
	top: 3px;
	left: 1px;
	filter: invert(100%);
}